alias ll="exa --long --header --git --time-style=long-iso --links"
alias la="exa --long --header --git --all --time-style=long-iso --links"
alias ssh-copy="pbcopy < ~/.ssh/id_rsa.pub && echo 'Copied !!'"
alias ssh-start="eval `ssh-agent` && ssh-add ~/.ssh/id_rsa"
